        /* .glow {
        animation: glow 1s ease-in-out infinite alternate;
        }
        @-webkit-keyframes glow {
        from {
            text-shadow: 0 0 20px #fff, 0 0 1px #fff, 0 0 1px #004de6, 0 0 1px #004de6, 0 0 15px #6095ff, 0 0 18px #6095ff, 0  px #6095ff;
        }
        
        to {
            text-shadow: 0 0 20px #fff, 0 0 30px #8fb1ff, 0 0 60px #8fb1ff, 0 0 60px #8fb1ff, 0 0 60px #8fb1ff, 0 0 70px #8fb1ff, 0 0 80px #8fb1ff;
        }
        } */
        .shadow-image{
            box-shadow: 15px 15px 25px rgba(15, 15, 29, 0.5); 
        }
        .dark{
            background-color: #1f2127;
            background: -webkit-linear-gradient(180deg, #0f0f2d, #010103);
            color: #e3eaff;
        }
        .light{ 
            background-color: #e3eaff;
            background: -webkit-linear-gradient(0deg, #d1dbff, #ffffff);
            color: #1f2127;
        }
        .gradient-text{
            background: -webkit-linear-gradient(0deg, #151ce8, #3fcbfa);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .gradient-text2{
            background: -webkit-linear-gradient(0deg, #464cff, #5ad6ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .warnaijo{
            background-color: #376EFF;
            padding: 0rem 0rem
        }
        .warnaputih{
            background-color: #ffffff;
        }
        .flexing-row{
            display: flex;
            flex-direction: row;
        }
        .flexing-col{
            display: flex;
            flex-direction: column;
        }
        .trueneutral{
            justify-content: center;
            align-items: center;
        }
        .button{
            width: 170px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .navbar-main{
            width: auto;
        }
        .nav-content{
            /* margin: 0 0; */
            width: -webkit-fill-available;
        }
        .navlinks-style{
            text-decoration: none;
            color: #ffffff;
        }
        .navlogo{
            gap: 1rem;
            background: -webkit-linear-gradient(0deg, #151ce8, #3fcbfa);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .navcontent{
            gap: 2rem; font-size: large;
            justify-content: space-between;
        
        }
        .navbar-collapse-sorting{
            width: -webkit-fill-available;
            justify-content: space-between;
        }
        .extranavbar{
            /* justify-content: space-between; */
            gap: 5rem;
        }
        .navbar{
            display: flex; justify-content: space-between; padding: 0rem 4rem;
        }   
        .navpp{
            width: 60px;
            padding: 4px 4px;
            border-radius: 50%;
        }
        .pp-dropdown-new{
            right: 0;
            left: none;
        }
        .mainGreen{
            background-image: url("super-rts-systems.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0rem 0;
        }
        .mainGreen .img-res{
            /* display: none; */
        }
        .content{
            height: 500px;
            justify-content: space-between; 
            align-items: center; 
            padding-bottom: 3rem; 
            padding: 2rem 8rem;
            padding-bottom: 3rem;
            color: #ffffff;
        }
        .content-main{
            width: 384px;
            gap: 6px;
        }
        .content-main .h1-1{
            font-size: 16px; letter-spacing: 6px;
        }
        .content-main .h1-2{
            font-family: 'Times New Roman', Times, serif; font-size: 40px; font-weight: 550; line-height: 50px;
        }
        .content-main .p{
            line-height: 18.75px;
        }
        .maincontent2{
            background: -webkit-linear-gradient(0deg, #c7d3ff, #fefff9);
            padding: 0rem 0rem;
            gap: 5rem;
        }
        .white-content1{
            gap: 0px;
        }
        .white-subcontent1{
            padding: 4rem 0;
        }
        .white-subcontent1 .h1-1{
            font-size: 40px; letter-spacing: 6px; color: #000000; font-weight: 700;
        }
        .white-subcontent1 .h1-2{
            font-family: 'Times New Roman', Times, serif; font-size: 34px; font-weight: 550; line-height: 50px;
        }
        .white-subcontent1 p{
            text-align: center;font-size: 20px;
        }
        .white-content1 .images{
            gap: 68px;
        }
        .white-content2{
            gap: 10rem;
            padding: 0 4rem;
            justify-content: space-evenly;
        }
        .white-content2 image{
            gap: 9rem;
        }
        .white-content2 img{
            width: 500px;
            border-radius: 10px;
        }
        .white-subcontent2{
            width: 600px;
        }
        .white-subcontent2 h1{
            font-family: 'Times New Roman', Times, serif; font-size: 40px; font-weight: 550; line-height: 50px;
        }
        .white-subcontent2 p{
            text-align: left;font-size: 15px; line-height: 18px;
        }
        .white-content3{
            gap: 10rem;
        }
        .white-content3 image{
            gap: 9rem;
        }
        .white-content3 img{
            width: 500px;
            border-radius: 10px;
        }
        .white-subcontent3 h1{
            font-family: 'Times New Roman', Times, serif; font-size: 40px; font-weight: 550; line-height: 50px;
        }
        .white-subcontent3 p{
            text-align: left;font-size: 15px; line-height: 18px;
        }
        .white-content4{
            padding: 4rem 0;
            gap: 0px;
        }
        .white-content4 .images{
            gap: 68px;
        }
        .white-content4{

        }
        .white-subcontent4-2{
            width: 500px;
            
        }
        footer{
            /* text-align: center; */
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            width: auto;    
        }
        .footer-subcontent{
            display: flex;
            flex-direction: row;
            width: 1440px;
            justify-content: space-between;
        }
        .footer .images{
            gap: 1rem;
            display: flex;
            flex-direction: row;
            /* width: auto; */
            /* justify-content: space-between; */
        }
        .footer img{
            width: 16px;
        }
        .footer-subcontent p{
            margin-top: 12px;
            justify-content: center;
            align-items: center;
            color: #ffffff;
        }

        @media screen and (max-width: 375px) {
            body{
                width: 375px;
            }
            .navbar{
                padding: 1rem;
                overflow: hidden;
            }
            .navcontent{
                display: none;
            }
            .warnaijo{
                padding: 1rem 0;
            }
            .warnaputih{
                width: 375px;
                padding: 2rem 0;
            }
            .mainGreen{
                display: flex;
                flex-direction: column-reverse;
            }
            .mainGreen .img-og{
                width: 325px;
                /* height: 196; */
                /* display: none; */
            }
            .warnaputih{
                padding: 2rem 2rem;
            }
            .content-main{
                padding: 1rem 2rem;
                gap: 0;
            }
            .content-main .h1-1{
                font-size: 14px;
            }
            .content-main .h1-2{
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 2px;
            }
            .white-content1 .images{
                display: flex;
                flex-direction: column;
            }
            .white-subcontent1 .h1-1{
            font-size: 16px; letter-spacing: 6px; color: #74C69D; font-weight: 700;
            }
            .white-subcontent1 .h1-2{
                font-family: 'Times New Roman', Times, serif; font-size: 24px; font-weight: 550; line-height: 50px;
            }
            .white-subcontent1 p{
                text-align: center;font-size: 16px;
            }
            .white-content2{
                flex-direction: column;
                gap: 2rem;
            }
            .white-content2 img{
                width: 325px;
            }
            .white-content2 image{
                gap: 0rem;
            }
            .white-subcontent2 h1{
                font-family: 'Times New Roman', Times, serif; font-size: 24px; font-weight: 550; line-height: 50px;
            }
            .white-subcontent2 p{
                text-align: justify;font-size: 15px; line-height: 18px;
            }
            .white-content3{
                flex-direction: column-reverse;
                gap: 2rem;
            }
            .white-content3 img{
                width: 325px;
            }
            .white-content3 image{
                gap: 0rem;
            }
            .white-subcontent3 h1{
                font-family: 'Times New Roman', Times, serif; font-size: 24px; font-weight: 550; line-height: 50px;
            }
            .white-subcontent3 p{
                text-align: justify;font-size: 15px; line-height: 18px;
            }
            .white-content4 img{
                width: 279px;
            }
            .white-content4{
                gap: 55px;
            }
            .white-content4 .images{
                flex-direction: column;
                gap: 68px;
            }
            .white-subcontent4 .h1-1{
                font-size: 16px; letter-spacing: 6px; color: #74C69D; font-weight: 700;
            }
            .white-subcontent4 .h1-2{
                font-family: 'Times New Roman', Times, serif; font-size: 34px; font-weight: 550; line-height: 50px;
            }
            .white-subcontent4 p{
                text-align: center; font-size: 20px;
            }
            footer{
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                /* width: auto; */
                padding: 2rem 2rem;
            }
            .footer-subcontent{
                display: flex;
                flex-direction: column;
                width: 375px;
                justify-content: center;
                align-items: center;
            }
            .footer .images{
                gap: 1rem;
                display: flex;
                flex-direction: row;
                /* width: auto; */
                /* justify-content: space-between; */
            }
            .footer img{
                width: 12px;
            }
            .footer-subcontent p{
                /* margin-top: 12px; */
                justify-content: center;
                align-items: center;
                color: #ffffff;
            }
            }

            @keyframes fadeInUp {
                from {
                    transform: translate3d(0,40px,0)
                }
            
                to {
                    transform: translate3d(0,0,0);
                    opacity: 1
                }
            }
            
            @-webkit-keyframes fadeInUp {
                from {
                    transform: translate3d(0,40px,0)
                }
            
                to {
                    transform: translate3d(0,0,0);
                    opacity: 1
                }
            }
            
            .animated {
                animation-duration: 1s;
                animation-fill-mode: both;
                -webkit-animation-duration: 1s;
                -webkit-animation-fill-mode: both
            }
            
            .animatedFadeInUp {
                opacity: 0
            }
            
            .fadeInUp {
                opacity: 0;
                animation-name: fadeInUp;
                -webkit-animation-name: fadeInUp;
            }

            @keyframes fadeInRight {
                0% {
                    opacity: 0;
                    transform: translateX(100%);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            
            .fade-in-right {
                opacity: 0;
                animation: fadeInRight 1s ease-in forwards; /* Adjust the timing and easing as needed */
            }